
.header {
  display: flex;
  position: relative;
  z-index: 10;
  flex-direction : row;
  background-color: #18181B;
  align-items: center;
  color:aliceblue;
  justify-content: space-between;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.7);
}

.main {
  color:aliceblue;
}

.debutHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5em;
}

.rondRouge {
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: #EB0400;
}

.finHead {
  display: flex;
  font-size: 2em;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

.finHead span {

  padding-right: 10px;
}

.imgLogo img {
  justify-self: center;
  /* padding: 10px; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
 height: 75px;
}

.main {
  display: grid;
  height: 89vh;
  grid-template-columns: 20% 80%;
}

 .product {
  display: grid;
  background-color: #0E0E10;
  grid-column-start: 2;
  grid-column-end: 3;
}

.sideBar {
  background-color: #1F1F23;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  color:aliceblue;
  margin:auto;
  justify-content: center;
  -moz-user-select: none; /* Firefox */
 -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
 -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
 user-select: none; /* Propriété standard */
}

.button {
  width: 80%;
  height: 50px;
  line-height: 50px;
  background-color: #9146FF;
  text-align: center;
  border-radius: 10px;
  padding: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7%;
  vertical-align: middle;
}

.buttons :hover {
  box-shadow: 0 0 12px rgba(117, 117, 117, 0.9); 
}

.productBox {
  width: 100%;
  height: 400px;
  background-color:#EB0400;
}

.productBox img {
  width: 100%;
  height: 70%;
  object-fit: cover;

}

.products {
  margin: 40px;
}

.boutonAchat {
  width: 120px;
  height: 40px;
  line-height: 40px;
  background-color: #9146FF;
  border-radius: 10px;
}

.boutonMulti {
  background-color: #1F1F23;
  width: 80px;
  margin-right: 10px;
}

.modal {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 90%; /* largeur */
  height: 89%; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: #0E0E10; /* opaque */
  top:10%; /* a 10% du haut */
  left:20%; /* a 20% de la gauche */
  margin:auto;
 }

.modal img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 15px 0px 0px 15px;
  }

.managergrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1F1F23;
  margin: 0 20px 20px 20px;
  width: 35%;
  border-radius: 20px;
  justify-content: space-between;
}

.container {
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.managergrid button {
  width: 90px;
  height: 50px;
  margin-right: 10px;
  background-color:#9146FF;
  font-family: 'Trebuchet MS', sans-serif;
  font-size:large;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(255, 246, 246, 0.219); 
}

.managergrid button:hover {
  box-shadow: 0 0 8px rgba(255, 246, 246, 0.219); 
}

.managergrid button:disabled {
  background-color: #4d4d4d;
  box-shadow: 0 0 0 rgba(255, 246, 246, 0.219);
}

.infosmanager {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
}

.title {
  margin-left: 30px;
}

.croixM {
  position: absolute;
  z-index: 1000;
  top: 30px;
  background-color:#dfdfdf;
  transform: rotate(-45deg);
  height: 5px;
  width: 30px;
}

.croixM::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#dfdfdf;
  transform: rotate(90deg);
  height: 5px;
  width: 30px;
}

.popUp {
  position: absolute;
  border-radius: 10px;
  bottom: 30px;
  left: 30px;
  width: 300px;
  height: 30px;
  background-color:#3f3f3f;
}

.popUp span {
  line-height: 30px;
 margin-left:6px;
}

.popUp div{
  position: absolute;
  z-index: 1000;
  top: 14px;
  left: 270px;
  background-color:#dfdfdf;
  transform: rotate(-45deg);
  height: 3px;
  width: 20px;
}

.popUp div::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#dfdfdf;
  transform: rotate(90deg);
}

.angelContainer {
  width: 300px;
  margin: 20px;
  background-color:#1F1F23;
}

.reset {
  text-align: center;
  margin: 10px;
  background-color:#9146FF;
  border-radius: 10px;
}